<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style3.css') }}">
    <title>Custom</title>
</head>
<body>
    <h1>*Checkerboard Szn*</h1>

    <h3>***Custom Checkerboard***</h3>

    <table>
        {% for i in range(0, x): %}
        <tr>
            {% for j in range(0, y): %}
            <td id="color{{ (i+j)%2+1 }}"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>