<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style2.css') }}">
    <title>Special 8x4</title>
</head>
<body>
    <h1>*Checkerboard Szn*</h1>

    <h3>**8 X 4**</h3>

    <table>
        {% for i in range(4): %}
        <tr>
            {% for j in range(2): %}
            <td id="color1"></td>
            <td id="color2"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for j in range(2): %}
            <td id="color2"></td>
            <td id="color1"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>